  
      <!-- Payload {{ name }} -->
      <include>
        <name>{{ name }}</name>
        <uri>model://{{ model }}</uri>
        <pose relative_to="base_link">
          {{ pose }}
        </pose>
      </include>

      <joint name="{{ name }}_joint" type="fixed">
        <parent>base_link</parent>
        <child>{{ name }}</child>
      </joint>

